<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance App</title>
    <link rel="stylesheet" href="static/css/flat-remix.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Balance de movimientos</h1>
    </header>
    <nav>
        Inicio | Nuevo
    </nav>
    <main> 
        <table class="paper">
            <tr>
                <th class="titulo-tabla">Fecha</th>
                <th class="titulo-tabla">Concepto</th>
                <th class="titulo-tabla">Tipo</th>
                <th class="titulo-tabla">Cantidad</th> 
            </tr>
            {% if movs%}
                {% for mov in movs %}
                <tr>  
                    <td>{{ mov.fecha }}</td>
                    <td>{{ mov.concepto }}</td>
                    <td>
                        {% if mov.tipo == 'I' %}
                        Ingreso
                        {% else %}
                        Gasto
                        {% endif %}
                    </td>   
                    <td class="numero">{{ mov.cantidad }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan = '4' class="lista-vacia"> No hay movimientos que mostrar</td>
            </tr>
            {% endif %}
        </table>
    </main>
<footer class="pie_de_pagina">2022 Bootcamp cero.</footer>
</body>
</html>