/* estoy construyendo CSS para apariencia de la web */
header {
    background-color: #b8174c;
    color: white;
    height: 50px;
    font-size: medium;
    line-height: 50px;
    padding: 25px;
}

nav{
    background-color: #19a187;
    color: white;
    height: 20px;
    line-height: 25px;
    padding: 25px;
}

/* bloque principal main - regulando vista en pantalla*/
main{
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

/* solo aplico estilos a tablas de clase paper */
table.paper {
    width: 100px;
}

/* a la cosas que tengan titulo-tabla quiero 'x' diseño */
.titulo-tabla {
    border-bottom: #19a187 1px solid;
    text-align: left;
}

table.paper .error {
    font-size: small;
    padding-left: 20px;
    color: crimson;
}

.pie-de-pagina{
    margin-top: 40px;
    padding: 20px;
    border: solid 1px #b8174c;
}

.lista-vacia {
    text-align: center;
    padding: 20px;
    color: aliceblue;
}